[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge_deploy"]
	path = lib/forge_deploy
	url = https://github.com/LI-YONG-QI/forge_deploy
